.jumb{
    background:url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") center center; 
    background-size: cover;
    height: 50em;
    color: white;
    text-align: center;
    
}

.jumb1{
    background:url("https://cdn.pixabay.com/photo/2017/05/21/18/09/menu-2331926__340.jpg") center center; 
    background-size: contain;
    height: 40em;
    color: white;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;    
}

.carousel-item{
   
}